:root {
  --primary-color: #91e73c;
  --primary-color-dark: #7ac232;
  --text-dark: #000000;
  --text-light: #9ca3af;
  --extra-light: #f3f4f6;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "DM Sans", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
}

.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: var(--extra-light);
}

.header-container {
  position: absolute;
  right: 0;
  height: 100%;
  background-image: url("assets/header.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 50%;
}

.header-container nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 0;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
