@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root {
  --primary-color: #91e73c;
  --primary-color-dark: #7ac232;
  --text-dark: #000000;
  --text-light: #9ca3af;
  --extra-light: #f3f4f6;
  --white: #ffffff;
  --max-width: 1200px;
  --header-font: "DM Sans", sans-serif;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


.section__container{
  max-width: var(--max-width);
  margin: auto;
  padding: 5rem 1rem;
}


.section__subheader{
  margin-bottom: 1rem;
  font-size: 1.2rem ;
  font-weight: 500;
  color: var(--text-dark);
}



.section__header{
  font-size: 3rem;
  font-weight: 800;
  font-family: var(--header-font);
  line-height: 4rem;
  color: var(--text-dark);

}

.logo{
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--text-dark);
}

.logo span{
  font-size: 1.2rem;
}


img{
  display: flex;
  width: 100%;
}


a{
  text-decoration: none;
  transition: 0.3s;
}




li{
  list-style: none;
}

html,body{
  scroll-behavior: smooth;
}


body{
  font-family: "Poppins", sans-serif;
}

header{
  display: grid;
}

.nav__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  padding: 1rem;
  position: relative;
}

.nav__links{
  display: none;

}

.nav__links.show{
  position: absolute;
  top: 10;
  background-color: var(--text-light);
  padding:2rem
 }



.nav__menu__btn{
  font-size: 2rem;
  cursor: pointer;

}

@media screen and (min-width: 768px) {
 .nav__links{
  display: flex;
 }

 
.nav__menu__btn{
  display: none;
}

}